* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Glory", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background-color: #335d7e;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 3px 10px rgb(255 255 255/ 0.4);
  background-color: #f3b294;
}

/* Footer start */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  border-top: 1px solid #000000;
  margin-top: auto;
  text-align: center;
  align-items: center;
}

.footer__year > p {
  font-size: 2rem;
  font-weight: 600;
}

.github__link > i {
  font-size: 2rem;
  color: #000000;
}

.footer__rss-school > a > img {
  width: 100px;
}
/*footer end */


/* header start */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header__title {
  flex-grow: 1;
  align-self: center;
  font-size: 2rem;
  /* text-align: center; */
}

.header__subtitle {
  font-size: 2rem;
}

.profile__photo {
  width: 300px;
}

/*header end */

