* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Glory", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #335d7e;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 3px 10px rgb(255 255 255/ 0.4);
  background-color: #f3b294;
}

.header__title {
  flex-grow: 1;
  align-self: center;
  font-size: 2rem;
  /* text-align: center; */
}

.header__subtitle {
  font-size: 2rem;
}

.profile__photo {
  width: 300px;
}
